.containerAtividade {
  display: flex;
  flex-direction: row;

  align-items: center;
  
  justify-content: center;
  align-content: center;

  width: 100%;
  max-width: 100%;
}

.btnAtividade {
  width: fit-content;
  cursor: pointer;
  background-color: unset;
  color: white;

  width: 5%;
  margin-top: 0px;
}

.cardAtividade {
  padding: 10px 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: appear 300ms;
}

.subSecao {
  display: flex;
  align-items: center;
  gap: 12px;
}

.checkBoxInput {
  height: 100%;
  position: absolute;
}

time {
  font-size: 14px;
  color: #A1A1AB;
  text-align: right;
}

time.full {
  display: none;
}

@media (width > 1024px) {
  time.short {
    display: none;
  }

  time.full {
    display: block;
  }
}
