#app {
  padding: 40px 20px;
  max-width: 320px;
  margin: auto;
}

.titulo {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 24px;
}

.main {
  margin-top: 32px;
}

@media (width > 1024px) {
  #app {
    display: flex;
    max-width: 960px;
    gap: 32px;
  }

  .main {
    margin-top: 0;
    flex: 1;
  }

  .titulo {
    text-align: left;
  }
}