#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
input,
select,
button {
  font-family: 'Inter', sans-serif;
  background-color: #09090B;
  color: #FAFAFA;

  line-height: 120%;
  letter-spacing: -0.02em;
}

input, select {
  all: unset;
  text-align: left;
}

input, select, button {
  width: 100%;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}